<div class="container mt-5">
  <div class="container">
    <form action="/bills/add-bill" method="get">
      <input type="hidden" name="customerID" value="<%=customer.ID%>">
      <div class="container">
        <div class="row">
          <button type="submit" class="btn btn-lg col col-12 col-md-5 offset-md-1 btn-success mb-5">اضافة فاتورة</button>
          <button type="submit" formaction="/bills/add-payment" class="btn btn-lg col col-12 col-md-5 btn-danger mb-5">اضافة مدفوعات</button>
        </div>
      </div>
      <hr>
    </form>
  </div>
  <nav class="navingCustomerDetails w-75 bg-lightseagreen mb-3 mb-md-5 p-2 text-center">معلومات العميل</nav>
  <div class="row justify-content-center text-center ">
    <div class="col col-12 col-md-3 offset-1 fs-4 mb-3 mb-md-5  p-2">
      <span class=" fw-bolder">الاسم: </span> <span class="info"><%= customer.name %></span>
    </div>

    <div class="col col-12 col-md-3 offset-1 fs-4 mb-3 mb-md-5  p-2">
      <span class="fw-bolder">الهاتف: </span> <span class="info">0<%= customer.Phone %></span>
    </div>

    <div class="col col-12 col-md-4 fs-4 mb-3 mb-md-5  p-2">
      <span class="fw-bolder">الايميل: </span> <span class="info"><%= customer.gmail %></span>
    </div>

    <div class="col col-12 col-md-3 offset-1 fs-4 mb-3 mb-md-5  p-2">
      <span class="fw-bolder">المندوب: </span> <span class="info"><%= customer.rep %></span>
    </div>

    <div class="col col-12 col-md-3 offset-1 fs-4 mb-3 mb-md-5  p-2">
      <span class="fw-bolder">الاقليم: </span> <span class="info"><%= customer.region %></span>
    </div>

    <div class="col col-12 col-md-4 fs-4 mb-3 mb-md-5  p-2">
      <span class="fw-bolder">العنوان: </span> <span class="info"><%= customer.address %></span>
    </div>
    <div class="col col-1 offset-1 d-sm-none d-md-block"></div>
    <div class="col col-12 col-md-4 fs-4 mb-3 mb-md-5 bg-danger p-2">
      <span class="fw-bolder">الديون: </span> <span class="info"><%= customer.debt %></span>
    </div>
  </div>
</div>
<hr class="container">
<div class="container mb-5 pb-5">
  <nav class="navingCustomerDetails w-75 bg-lightseagreen mb-3 mb-md-5 p-2 text-center">فواتير العميل</nav>

  <!-- customer from forms above -->

  <% if(bills){ %>
  <table class="table mt-5 pt-5">
    <thead class="bg-primary text-light">
      <th> #</th>
      <th> التاريخ</th>
      <th> الاجمالى</th>
      <th> المدفوع</th>
      <th> المتبقى</th>
      <th> ملاحظات</th>
      <th class="bg-success"> </th>
    </thead>
    <% bills.forEach(bill=>{ %>
    <tbody>
      <tr>
        <td class="text-center"><%= bill.billID %></td>
        <td><%= bill.date %></td>
        <td><%= bill.totalCost %></td>
        <td><%= bill.paid %></td>
        <td><%= bill.rest %></td>
        <td><%= bill.notes %></td>
        <td>
          <form action="/customers/billDetails" method="get">
            <input type="number" style="display: none;" name="customerID" value="<%=customer.ID%>">
            <input type="hidden" name="billID" value="<%=bill.billID%>">
            <button type="submit" class="btn btn-primary">عرض </button>
          </form>
        </td>
      </tr>
    </tbody>
    <% }) %>
  </table>
  <% } %>
</div>


<!-- مدفوعات -->
<%-include('paymentInCustPage')  %>