<form action="/bills/add-payment/<%=customerID%>" method="post" class="container justify-content-center mt-5">
  <label for="lastDebt" class="fw-bolder mb-1">الديون السابقة للعميل</label>
  <input disabled type="number" class="form-control text-capitalize text-center fs-4 bg-primary fw-bolder text-light" id="lastDebt" value="<%=debt%>">
  <input hidden type="number" class="form-control text-capitalize text-center fs-4 bg-primary fw-bolder text-light" name="debt" value="<%=debt%>">

  <label for="loopForPayed" class="fw-bolder mb-1 mt-5">المبلغ المدفوع</label>
  <input type="number" name="payed" class="form-control text-center fs-4" id="loopForPayed">

  <% if(errors.length != 0){ %>
  <% for(let z=0 ; z<errors.length ; z++ ){ %>
  <%if(errors[z].param == 'payed'){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong><%= errors[z].msg %> </strong>

  </div>
  <% break }}} %>
  <label for="LabelForNotes" class="fw-bolder mb-1 mt-5">ملاحظات عن العملية</label>
  <textarea name="notes" class="form-control text-center fs-4" id="LabelForNotes"></textarea>
  <button type="submit" class="btn btn-large btn-danger mt-3"> اكمل عملية الدفع</button>
</form>
<div class="container mb-5">
  <a href="/customers/CustomerDetails?ID=<%=user.id%>" class="btn btn-dark mt-3 mb-5 float-start"> العودة الى صفحة العميل</a>

</div>