<div class="container mt-5">
  <a href="/products/add-product" class="btn btn-light btn-outline-dark mb-4 btn-lg"> اضافة منتج</a>
  <% if(products.length !=0){ %>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>المنتج</th>
        <th>الوزن</th>
        <th>السعر</th>
        <th>الكمية</th>
        <th>الاوامر</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product=>{ %>
      <tr>
        <td><%=product.id %> </td>
        <td><%=product.item %> </td>
        <td><%=product.weight %> </td>
        <td><%=product.sellPrice %> </td>
        <td><%=product.quantity%></td>
        <td>
          <a href="/products/edit-product/<%=product.id%>" class="btn btn-info btn-outline-primary"> تعديل</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
</div>